@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    outline: none;
}
*::before, *::after {
    box-sizing: border-box;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    background-color: #121922;
}

.page-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.interface {
    display: flex;
    column-gap: 50px;
}
.interface img {
    width: 100px;
    border-radius: 10px;
    outline: 10px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
}
.interface .selected {
    outline: 10px solid #ffffff77;
}
.interface .rock.selected {
    box-shadow: 0 0 36px #ff85ff;
}
.interface .paper.selected {
    box-shadow: 0 0 36px #fcec1a;
}
.interface .scissors.selected {
    box-shadow: 0 0 36px #3fdcff;
}

.modal-box {
    /*display: none;*/
    position: fixed;
    z-index: 99;
    top: 10%; left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    max-width: 95%;
    box-shadow: 0 0 10px #1f2937;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    text-align: center;
    color: #222;
    transition: 0.5s ease allow-discrete;
    /*opacity: 1;*/ /*allow discrete*/
}
.modal-box.active {
    display: block;
    opacity: 1;
    @starting-style {
        opacity: 0;
    } /*start value goes last*/
}