@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    outline: none;
}
*:before, *:after {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
    overflow-x: hidden;
}
body {
    min-height: 100%; /*fallback*/
    min-height: -webkit-fill-available;
    position: relative;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', sans-serif;
}
.header {
    background-color: #1f2937cc;
}
.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.header .logo {
    display: flex;
    transform: translateY(-2px);
    font-family: "Expletus Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.header .logo a {
    transition: 0.3s ease;
}
.header .logo a:hover {
    text-shadow: 1px 1px #ffffff29, -1px -1px #ffffff29,
                 2px 2px #ffffff29, -2px -2px #ffffff29;
}
.menu-button {
    display: flex;
    flex-flow: column;
    row-gap: 5px;
    border: none;
    background: none;
    font-size: 0;
}
.menu-button::before,
.menu-button::after {
    content: "";
    width: 24px;
    height: 3px;
    background-color: #fff;
    transition: 0.5s ease;
}
.menu-button span {
    width: 20px;
    height: 3px;
    background-color: #fff;
}
.navigation .menu {
    display: flex; 
}
.navigation .menu a {
    white-space: nowrap;
    font-size: 15px;
}

@media (max-width: 800px) {

    .navigation {
        position: relative;
    }
    .navigation .menu {
        pointer-events: none;
        flex-flow: column;
        row-gap: 6px;
        position: absolute;
        right: -5px; /**/
        margin-top: 20px;
        border-radius: 3px;
        background-color: #fff;
        padding: 6px 0;
        opacity: 0;
    }
    .navigation.active .menu {
        pointer-events: auto;
        transition: opacity 0.3s ease;
        opacity: 1;
    }
    .navigation .menu-item {
        padding: 3px 12px;
    }
    .navigation .menu-item +li {
        border-top: 1px solid #ddd;
        padding-top: 6px;
    }
    .active .menu-button {
        row-gap: 0;
    }
    .active .menu-button::before {
        transform: rotate(-45deg);
    }
    .active .menu-button::after {
        transform: rotate(45deg);
        margin-top: -2px;
    }
    .active .menu-button span {
        display: none;
    }
}
@media (min-width: 801px) {

    .navigation .menu-button {
        display: none;
    }
    .navigation .menu {
        column-gap: 40px;
    }
    .navigation .menu a {
        position: relative;
        font-size: 16px;
        color: #fff;
        transition: 0.2s ease;
    }
    .navigation .menu a:hover {
        text-shadow: 1px 1px #ffffff33, -1px -1px #ffffff33;
    }
    .navigation .menu a:after {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: -5px;
        height: 1px;
        background: #ffffffcc;
        transition: 0.5s ease;
        opacity: 0;
    }
    .navigation .menu a:hover::after {
        left: 0; right: 0;
        box-shadow: 0 0 3px 1px #ffffff55;
        transition-duration: 0.6s;
        opacity: 1;
    }
    .navigation .menu-item +li::before {
        content: "";
        position: absolute;
        width: 0; height: 0;
        margin: 9px 0 0 -30px;
        border: solid transparent;
        border-width: 0 10px 1px 10px;
        border-bottom-color: #fff;
        animation: rotate360 5s linear infinite;
    }
    @keyframes rotate360 {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }
}